In [2]:
import pymongo
client=pymongo.MongoClient(
"mongodb+srv://shrikantsharma4717:KGFYOFMfB9yoGZ0u@cluster0.wql6g1d.mongodb.net/?retryWrites=true&w=majority"
)
db=client.test

In [3]:
client

MongoClient(host=['ac-mihnbik-shard-00-02.wql6g1d.mongodb.net:27017', 'ac-mihnbik-shard-00-01.wql6g1d.mongodb.net:27017', 'ac-mihnbik-shard-00-00.wql6g1d.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-uhqofm-shard-0', tls=True)

In [4]:
db = client['demo_db']

Q1. Design a Mongodb Schema for a "Student" collection with the following fi elds:

In [6]:
collection = db["Student"]

Q2. Insert the following student data in the collection

In [7]:
student_data=[
{"RollNum": 43, "FirstName": "John","LastName":"Doe","Age": 20,"Department":"Computer Science","Mark": 78},
{"RollNum": 67, "FirstName": "Alice","LastName":"Smith","Age": 22,"Department":"Physics","Mark": 59},
{"RollNum": 23, "FirstName": "Bob","LastName":"Johnson","Age": 21,"Department":"Computer Science","Mark": 81},
{"RollNum": 18, "FirstName": "Eve","LastName":"Adams","Age": 19,"Department":"Mathematics","Mark": 56},
{"RollNum": 84, "FirstName": "Mike","LastName":"Brown","Age": 23,"Department":"Physics","Mark": 92}
]

In [8]:
result = collection.insert_many(student_data)

Q3. Write a Mongodb query to fi nd all students

In [9]:
for i in db.Student.find({}):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc3d'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3e'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3f'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc40'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc41'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

Q4. Write a Mongodb query to fi nd all students in the "Computer Science" Department

In [10]:
for i in db.Student.find({"Department":"Computer Science"}):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc3d'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3f'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}

Q5. Write a Mongodb query to fi nd all students whose age is greater than or equal to 20

In [11]:
for i in db.Student.find({"Age": {"$gte":20}}):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc3d'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3e'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3f'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc41'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

Q6. Write a Mongodb query to fi nd all students whose mark is less than 60

In [12]:
for i in db.Student.find({"Mark": {"$lt":60}}):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc3e'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc40'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

Q7. Write a Mongodb query to show the fi rst name and mark of all students in "Physics" department

In [13]:
for i in db.Student.find({"Department":"Physics"}, {"FirstName":1,"Mark":1}):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc3e'), 'FirstName': 'Alice', 'Mark': 59}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc41'), 'FirstName': 'Mike', 'Mark': 92}

Q8. Write a Mongodb query to fi nd all the students in the descending order of mark

In [14]:
for i in db.Student.find().sort({"Mark":-1}):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc41'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3f'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3d'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc3e'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6551b1e46d8bf4bee8edcc40'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

Q9. Write a Mongodb query to fi nd the youngest student

In [15]:
for i in db.Student.find().sort({"Age":1}).limit(1):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc40'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

Q10. Write a Mongodb query to fi nd all students in the "Physics" department whose Roll no is greater than or equal to 70

In [16]:
for i in db.Student.find({"Department":"Physics","RollNum": {"$gte":70}}):
    print(i)

{'_id': ObjectId('6551b1e46d8bf4bee8edcc41'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}